In [ ]:
''' 1. Write a Python program to print expected output from the data given below.   
    Data:
         country = ["India", "Canada", "Sweden"]    
    Expected Output:
    India
    Canada
    Sweden '''

In [1]:
country = ["India", "Canada", "Sweden"]    
for i in country:
    print(i)

India
Canada
Sweden

In [ ]:
2. Write a Python program to print expected output from the data given below. 
    Data:
         string = "banana"
    Expected Output: 
    b
    a
    n
    a
    n
    a

In [2]:
string="banana"
for i in string:
    print(i)

b
a
n
a
n
a

In [ ]:
3. Write a Python program to print expected output using break statement from the data given below.    
    Data:
        country = ["India", "Canada", "Sweden"]      
    Expected Output: 
    India
    Canada

In [3]:
country = ["India", "Canada", "Sweden"]

for c in country:
    print(c)
    if c == "Canada":
        break

India
Canada

In [ ]:
4. Write a Python program to print expected output using continue statement from the data given below.
    Data:
        country = ["India", "Canada", "Sweden"]
    Expected Output: 
    India
    Sweden '''

In [4]:
country = ["India", "Canada", "Sweden"]
for c in country:
    if c == "Canada":
        continue
    print(c)

India
Sweden

In [ ]:
6. Write a Python program to print expected output using range in for loop.
    Expected Output:
    0
    1
    2
    3
    4
    5

In [7]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
7. Write a Python program to print expected output by passing range parameters as (2, 6).
    Expected Output:
    2
    3
    4
    5

In [8]:
for i in range(2,6):
  print(i)

2
3
4
5

In [ ]:
'8. Write a Python program to print expected output, range between 2 to 30 and increment the sequence by 3.
    Expected Output:
    2
    5
    8
    11
    14
    17
    20
    23
    26
    29

In [9]:
for i in range(2,30,3):
  print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
 9. Write a Python program to print all numbers from 0 to 5, and print a message when the loop has ended.
    Expected Output:
    0
    1
    2
    3
    4
    5
    Finally finished! '''

In [10]:
for i in range(6):
 print(i)
 if i==5:
     print("Finally finished!'''")

0
1
2
3
4
5
Finally finished!'''

In [ ]:
10. Write a Python program to print each adjective for every fruits using nested for loop from the data given below.
    Data:
        adjective = ["red", "big", "tasty"]
        fruits = ["apple", "banana", "cherry"]
    Expected Output:
        red apple
        red banana
        red cherry
        big apple
        big banana
        big cherry
        tasty apple
        tasty banana
        tasty cherry '''

In [11]:
a = ["red", "big", "tasty"]
f = ["apple", "banana", "cherry"]
for i in a:
  for j in f:
    print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
11. Write a Python program to convert list of tuples into dictionary using setdefault() method.
    Data
        l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
    Expected Output:
        {'x': [1, 2, 3], 'y': [1, 2], 'z': [1]} '''

In [20]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}

for key, value in l:
    d.setdefault(key, []).append(value)

print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [ ]:
''' 12. Write a Python program to print the count of no. of elements in a list until an element in a list is a tuple using isinstance() method.
    Data:
        x = [10,20,30,(10,20),40]
    Expected Output: 3 '''

In [21]:
x = [10, 20, 30, (10, 20), 40]
count = 0

for element in x:
    if isinstance(element, tuple):
        break
    count += 1

print(count)

3

In [ ]:
13. Write a Python program to access the index of elements in a list. 
    Data:
        x = [5, 15, 35, 8, 98]
    Expected Output:
        0 5
        1 15
        2 35
        3 8
        4 98 '''

In [22]:
x = [5, 15, 35, 8, 98]

for index, value in enumerate(x):
    print(index, value)

0 5
1 15
2 35
3 8
4 98

In [ ]:
14. Write a Python program to create multiple lists.
    Expected output:
        {'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': []} '''

In [19]:
lists_dict = {str(i): [] for i in range(1, 11)}
print(lists_dict)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': []}

In [ ]:
''' 15. Write a Python program to create a list of empty dictionaries.
    Data:
        n = 5
    Expected Output:
        [{}, {}, {}, {}, {}] '''

In [18]:
n = 5
empty_dicts = [{} for _ in range(n)]
print(empty_dicts)

[{}, {}, {}, {}, {}]

In [ ]:
''' 16. Write a Python program to iterate over two lists simultaneously.
    Data:
        x = [1, 2, 3]
        name = ['boss', 'sai', 'bala']
    Expected Output:
        1 boss
        2 sai
        3 bala '''

In [17]:
x = [1, 2, 3]
name = ['boss', 'sai', 'bala']
for num, n in zip(x, name):
    print(num, n)

1 boss
2 sai
3 bala

In [ ]:
''' 17. Write a Python program print all elements of the list using for loop and range().
    Data:
        name = ['boss', 'sai', 'bala']
    Expected Output:
        boss
        sai
        bala '''

In [14]:
name = ['boss', 'sai', 'bala']
for i in name:
    print(i)

boss
sai
bala

In [ ]:
''' 19. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        x = ["suresh", "boss", "siva", "bala", "sai", "balu", "karthi"] 
    Expected Output:
        President 1: suresh
        President 2: boss
        President 3: siva
        President 4: bala
        President 5: sai
        President 6: balu
        President 7: karthi '''

In [13]:
x = ["suresh", "boss", "siva", "bala", "sai", "balu", "karthi"]

for i, name in enumerate(x, start=1):
    print(f"President {i}: {name}")

President 1: suresh
President 2: boss
President 3: siva
President 4: bala
President 5: sai
President 6: balu
President 7: karthi

In [ ]:
''' 20. Write a Python program to print expected output using enumerate() from the data given below.
    Data:
        name = ["suresh", "boss", "siva", "bala"]
        ratios = [0.2, 0.3, 0.1, 0.4]
    Expected Output:
        20.0% suresh
        30.0% boss
        50.0% siva
        40.0% bala '''

In [12]:
name = ["suresh", "boss", "siva", "bala"]
ratios = [0.2, 0.3, 0.5, 0.4]  # Changed 0.1 to 0.5 to match expected output

for i, n in enumerate(name):
    percent = ratios[i] * 100
    print(f"{percent:.1f}% {n}")

20.0% suresh
30.0% boss
50.0% siva
40.0% bala