In [ ]:
1. Write a python program to pop() elements until the list has elements using while loop.
    Data:
        a = [1,2,3,4,5]
    Expected output:
        5
        4
        3
        2
        1

In [1]:
a=[1,2,3,4,5]
while a:
    print(a.pop())

5
4
3
2
1

In [ ]:
2. Write a simple python program to demonstrate a while loop with else block.
    Data:
        x = 10
    Expected output:
        10
        9
        8
        7
        loop is finished

In [2]:
x = 10
while x > 6:
    print(x)
    x -= 1
else:
    print("loop is finished")

10
9
8
7
loop is finished

In [ ]:
3. write a python program to print x as long as x is less than 6, using while loop.
    Data:
        x = 1
   # Expected output:
        1
        2
        3
        4
        5

In [3]:
x=1
while x<6:
    print(x)
    x+=1

1
2
3
4
5

In [ ]:
4. Write a python program to check if list still contains any element using while loop and pop().
    Data:
        x = [0,1,2,3,4,5]
    Expected output:
        5
        4
        3
        2
        1
        0

In [4]:
x= [0,1,2,3,4,5]
while x:
    print(x.pop())

5
4
3
2
1
0

In [ ]:
5.Write a python program to print the following pattern using while loop.
    Expected output:
    *
    * * 
    * * * 
    * * * *

In [5]:
rows = 4

for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *

In [ ]:
6.Write a python program to print multiplication table of 24 using while loop.
    Data:
        24
    Expected output:
        24 48 72 96 120 144 168 192 216 240

In [6]:
num = 24
i = 1

while i<= 10:
    result = num * i
    print(result, end=" ")
    i += 1

24 48 72 96 120 144 168 192 216 240

In [ ]:
7. Write a python program to print first 10 natural numbers using while loop.
    Data:
        10
    Expected output:
        0 1 2 3 4 5 6 7 8 9 10

In [17]:
i=0
while i<=10:
    print(i,  end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
8. Write a python program to get the fibonacci series between 0 to 50.
    Data:
        x,y = 0,1
    Expected output:
        1
        1
        2
        3
        5
        8
        13
        21
        34

In [ ]:
x, y = 0, 1

while True:
    z = x + y
    if z > 50:
        break
    print(z)
    x, y = y, z

In [ ]:
9. Write a python program to construct the following pattern.
    Expected output:
        1
        22
        333
        4444
        55555
        666666
        7777777
        88888888
        999999999

In [ ]:
for i in range(1,10): # 1 2 3 4
    for j in range(1,10):# 1 2 3 4
        if i>=j:
            print(i,end=" ")
        else:
            print(' ')

In [ ]:
10. Write a python program to add natural number up to sum = 1+2+3+.....+n
    Expected output:
        The sum is  15

In [ ]:
n = 5
total = sum(range(1, n + 1))
print("The sum is", total)

In [ ]:
11. Write a python program to illustrate the working of while loop with else statement.
    Expected output:
        Inside loop
        Inside loop
        Inside loop
        Inside else

In [ ]:
x=0
while x<3:
    print("inside loop")
    x+=1
else:
    print("inside else")

In [ ]:
12. Write a simple python program to illustrate the working of nested while loop using given data.
    Data:
        i = 1
        j = 3
    Expected output:
        1 , 3
        2 , 4
        3 , 5
        4 , 6
        5 , 7

In [ ]:
i = 1
j = 3

while i <= 5:
   
    while j <= 7:
        print(i, ",", j)
        i += 1
        j += 1
        break

In [ ]:
13. Write a Python program to print the following output from given data using while loop.
    Data:
        n = 7, c = 0
    Expected output:
        5
        11

In [ ]:
14. Write a python program to exit the loop when x is 3, using break statement in a while loop.
    Data:
        x = 1
    Expected output:
        1
        2
        3

In [ ]:
x = 1
while True:
    print(x)
    if x == 3:
        break
    x += 1

In [ ]:
15. Write a python program to continue the next iteration if x is 3.
    Data:
        x = 0
    Expected output:
        1
        2
        4
        5
        6

In [23]:
x=0
while x<6:
    x+=1
    if x==3:
        continue
    print(x)

1
2
4
5
6

In [ ]:
16. Write a python program to print a message once the while condition is false.
    Data:
        x = 1
    Expeccted output:
        1
        2
        3
        4
        5
        x is no longer less than 6

In [22]:
x=1
while x<=5:
    print(x)
    x+=1
    if x==6:
        print("x is no longer less than 6")

1
2
3
4
5
x is no longer less than 6

In [ ]:
17. Write a python program to illustrate a simple while loop.
    Data:
        Hello Words
    Expected output:
        Hello Words
        Hello Words
        Hello Words

In [21]:
x="Hello Words"
count=0
while count<3:
    print(x)
    count+=1

Hello Words
Hello Words
Hello Words

In [ ]:
18. Write a python program to use pass statement in a while loop.
    Data:
        x = "jackforjack"
        y = 0
    Expected output:
        Value of y:  11

In [20]:
x = "jackforjack"
y = 0
while y < len(x):
    pass  
    y += 1
print("Value of y: ", y)

Value of y:  11

In [ ]:
19. Write a python program to demonstrate while-else loop.
    Data:
        x = 0
    Expected output:
        1
        2
        3
        4
        Good bye

In [19]:
x=0
while x<4:
  x+=1
  print(x)
else:
  print("Good bye")

1
2
3
4
Good bye

In [ ]:
20. Write a Python program to print multiplication table of 5 using while loop.
    Expected output:
        5 * 1 = 5
        5 * 2 = 10
        5 * 3 = 15
        5 * 4 = 20
        5 * 5 = 25
        5 * 6 = 30
        5 * 7 = 35
        5 * 8 = 40
        5 * 9 = 45
        5 * 10 = 50

In [18]:
num=5
i=1
while i<=10:
  result=num*i
  print(num,"*",i,"=",result)
  i+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50